[obfuscator]
# Skip to obfuscate whole file
skip_file=

# Skip to obfuscate the file name(module)
skip_module=

# Skip to obfuscate the class in a file/module
skip_class=

# Skip to obfuscate the function name in a file/module/class
skip_function=__init__,self

# Skip to obfuscate the variable in a file/module
skip_variable=self
